/* Layout */
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-background-light-reset);
        display: flex;
        align-items: top;
        justify-content: center;
        z-index: 999;
        cursor: pointer;
    }

    .modal-content {
        position: relative;
        width: 75%;
        max-height: 90vh;
        cursor: default;
        overflow: visible;
        scrollbar-width: none; /* Firefox */
    }

    .modal-content::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }

    .modal-body {
        padding: 2rem;
    }

    .modal-hero {
        width: 100%;
        overflow: hidden;
    }

    .modal-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ratio-169 {
  position: relative;
  width: 66.6%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.ratio-169 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Close button */
.modal-button-pos{
    position: absolute;
    right: 0px;
    top: var(--dimension-600);
}

.button-secondary-cont{
    display: flex;
    width: fit-content;
    border-radius: var(--border-radii-full);
    padding: var(--dimension-050);
    
}

.modal-close{
    display: flex;
    cursor: pointer;
    padding: var(--dimension-150);
    border-radius: var(--border-radii-full);

    &:hover{
        background-color: var(--color-semantic-background-hover);
    }

    &:active{
        background-color: var(--color-semantic-background-selected);
        color: var(--color-semantic-foreground-selected);
    }
}

.icon-close{
    width: 24px;
    aspect-ratio: 1 / 1;
    color: var(--color-foreground-secondary);
}
